<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>create_main</servlet-name>
    <servlet-class>controller.CreateMain</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>create_sub</servlet-name>
    <servlet-class>controller.CreateSub</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>delete_sub</servlet-name>
    <servlet-class>controller.DeleteSub</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>delete_main</servlet-name>
    <servlet-class>controller.DeleteMain</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>create_main</servlet-name>
    <url-pattern>/create_main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>create_sub</servlet-name>
    <url-pattern>/create_sub</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete_sub</servlet-name>
    <url-pattern>/delete_sub</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete_main</servlet-name>
    <url-pattern>/delete_main</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
